<div class="container">
  <div class="header-menu">
    <i class="bi bi-list"></i>
  </div>
  <div class="youtube-icon">
    <i class="bi bi-youtube"></i>
    youtube
  </div>
  <div class="youtube-search">
    <input type="text" placeholder="Search.." name="search" />
    <button type="submit"><i class="bi bi-search"></i></button>
  </div>
  <div class="youtube-notification">
    <i class="bi bi-bell"></i>
  </div>
  <div>
    <button routerLink="/login">Login</button>
  </div>
  <div>
    <button routerLink="/signup">Signup</button>
  </div>
</div>
<router-outlet></router-outlet>